<ul>   
   <table>
    <tr>
        <th colspan="1"><%= kat.name %></th>
    </tr>
    <tr>
        <td>Age</td>
        <td><%= kat.age %></td>
    </tr>
    <tr>
        <td>Color</td>
        <td><%= kat.color %></td>
    </tr>
    <tr>
        <td>Sex</td>
        <td><%= kat.sex %></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><%= kat.description %></td>
    </tr>

   </table>

   <% if action == :show %>
        <li> <a href="<%= cats_url %>"> Cat's index page</a> </li>
    <% else %>
        <li> <a href="<%= cat_url(kat) %>"> Cat's show page</a> </li>
    <% end %>
</ul>